
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="https://localhost:7254/">Home</a></li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="https://localhost:7254//images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>Freshshop</span></h2>
                <p>
                    "But in order that you may see whence comes all this born error of those who accuse pleasure and praise pain, I will open the whole thing, and explain the very things which were said by that discoverer of truth and, as it were, the architect of a happy life. great pains follow those who do not know how to pursue pleasure. Nor is there anyone who wants to pursue pain because it is pain, but because such times never occur that he seeks some great pleasure through labor and pain , who of us undertakes any bodily exercise, except that it may result in some advantage?

                </p>
                <p>
                    It is important to take care of the patient, to be followed by the patient, but it will happen at such a time that there is a lot of work and pain. For to come to the smallest detail, no one should practice any kind of work unless he derives some benefit from it.
                </p>
                
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Customer service, customer loyalty is important, but it comes at a time when it takes a lot of effort. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>It is important to take care of customers, to be followed by customers, but it will happen at a time when there is a lot of work and effort. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>It is important to take care of customers, to be followed by customers, but it will happen at a time when there is a lot of work and effort. </p>
                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- End About Page -->
